.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;

    &-white {
        background-color: $color-white;
        color: #777;
        &::after {
            background-color: $color-white;
        }
    }

    &-animated {
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
        animation-delay: 0.75s;
    }

    &:link {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
    }
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.1);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}